.myBG{
    height: 100vh;
    background: url('../assets/images/bg/main.jpg');
    background-size: cover;
}

.intro{
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}

.trending{
    height: auto;
    background: url('../assets/images/superhero/batman.jpg');
    background-size: cover;
}

.superhero{
    height: auto;
    background: url('../assets/images/superhero/hulk.png');
    background-size: cover;
}

.movieImage{
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 3px;
}


.images{
    height: 400px;
}